:root {
    /* Цвет основного текста #212121 */
    --primery-text-color: #212121;
    /* вторичный цвет текста <p> #757575 */
    --secondary-text-color: #757575;
    /* Акцент (текст при наведении) #2196F3 */
    --text-color-accent: #2196F3;
    /* Копирейт в футере rgba(255, 255, 255, 0.4) */
    --footer-copyright-color: rgba(255, 255, 255, 0.4);
}


/* body */

.page {
    background-color: #ffffff;
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}


/* HEADER */

.list {
    list-style: none;
}

.link-list {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.link-list:hover,
.link-list:focus {
    color: var(--text-color-accent);
}

.nav-link {
    color: #212121;
}

.nav-link .link-list.current {
    color: #2196F3;
}

.address {
    color: var(--secondary-text-color);
}


/* footer */

.footer {
    background-color: #2F303A;
    color: #ffffff;
}

.footer a {
    color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.footer address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}