:root {
    /* Цвет основного текста #212121 */
    --primery-text-color: #212121;
    /* вторичный цвет текста <p> #757575 */
    --secondary-text-color: #757575;
    /* Акцент (текст при наведении) #2196F3 */
    --text-color-accent: #2196F3;
    /* Копирейт в футере rgba(255, 255, 255, 0.4) */
    --footer-copyright-color: rgba(255, 255, 255, 0.4);
}


/* body */

.test {
    outline: 1px solid tomato;
}

li {
    list-style: none;
}

.page {
    background-color: #ffffff;
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
    padding-left: 15px;
    padding-right: 15px;
}


/* HEADER */

.logo-color {
    color: #2196F3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
}

.header-logo {
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 25px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
}

.link-list {
    display: flex;
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-list:hover,
.link-list:focus {
    color: var(--text-color-accent);
}


/* НАВИГАЦИЯ */

.nav-link .item:not(:last-child) {
    margin-right: 45px;
}

.nav-link {
    display: flex;
    color: #212121;
    padding: 0;
    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-link .link-list.current {
    color: #2196F3;
}

.address {
    display: flex;
    color: var(--secondary-text-color);
    font-style: normal;
    margin-left: auto;
}

.address .link-list+.link-list {
    margin-left: 30px;
}


/* footer */

.footer {
    background-color: #2F303A;
    color: #ffffff;
    padding-top: 48px;
}

.footer a {
    color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.footer address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.footer-flex {
    display: flex;
    justify-content: flex-start;
}

.coop {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
}