/* Вторичный цвет фона #F5F4FA */


/* футер цвет фона иконок соцсетей:rgba(255, 255, 255, 0.1); */


/* MAIN */

.section p {
    color: var(--secondary-text-color);
}


/* Заглавие которое я не смог придумать */

.about-us .link {
    background-color: #f5f4fa;
}


/* Чем мы занимаемся */

.work-list p {
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}


/* OUR TEAM */

.team-section {
    background-color: #f5f4fa;
}

.team-section p {
    color: var(--secondary-text-color);
}

.team-list li {
    background-color: #ffffff;
    text-align: center;
    list-style: none;
}

.team-list img:hover,
.team-list a:focus {
    background-color: var(--text-color-accent);
}

team-list.h2 {
    margin-top: 0;
}


/* Постоянные клиенты */

.regular-customers img:hover {
    background-color: var(--text-color-accent);
}


/* button */

.button {
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.button:hover {
    background-color: var(--text-color-accent);
}

.hero-button {
    background-color: var(--text-color-accent);
    color: #ffffff;
    width: 200px;
    height: 50px;
    padding: 10px 32px;
    border-radius: 4px;
    text-decoration: none;
}


/* HERO */

.hero {
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 46px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    background-color: tomato;
    /* or 136% */
}


/* Заглавие которое я не смог придумать,
но оно потом будет скрыто */

.about-us {
    margin-top: 94px;
}

.about-us .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
}

.about-us p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 10px;
    margin-bottom: 0;
}


/* Чем мы занимаемся */

.work-list {
    margin-top: 30px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.work-list li p {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/* OUR TEAM */

.team-list li h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-list li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
}


/* OUR WORKS */

.link-work li h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.link-work li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}

.about-site {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    /* or 156% */
    letter-spacing: 0.03em;
}